body {
    background-color: #444444;
    font-family: 'Overpass Mono', monospace;
    /*overflow: hidden;*/
    padding-bottom: 30px;
}


a {
    text-decoration: none;
    color: #444444;
}




.title {
    text-align: center;
    /*margin-top: 10%;*/
    /*margin-right: 20%;*/
    font-size: 30px;
    width: 15%;
    color: cornflowerblue;
}

.search-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.search-bar {
    height: 32px;
    width: 70%;
    border: 0;
    background-color: #5d5d5d;
    font-size: 30px;
    color: cornflowerblue;
    border-radius: 5px;
    font-family: 'Overpass Mono', monospace;
}

.search-bar:focus {
    outline:0;
}

.search-button-container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.search-button {
    border: 0;
    padding: 10px;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    background-color: transparent;
    font-size: 25px;
    border-radius: 3px;
    font-family: 'Overpass Mono', monospace;
}

.search-button:hover {
    background-color: cornflowerblue;
    color: #444444;
    cursor: pointer;
}

.search-option {
    padding: 10px;
    color: cornflowerblue;
}

.checkmark {
    border: 0;
    background: green;
}



.results-container {
    width: 100%;
    height: 50px;
    /*background-color: green;*/
    margin-top: 50px;
}

.row {
    display: flex;
    margin-top: 20px;
}

.result-logo-container {
    width: 100%;
    margin-bottom: 10px;
}

.summary-header {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.summary-text {
    text-align: center;
}

.wikipedia-header {
    font-size: 40px;
    color: black;
    display: block;
}

.summary-result {
    width: 65%;
    background-color:cornflowerblue;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
}

.wikipedia-result {
    width: 65%;
    margin-left: 2.5%;
    background-color: #fff137;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
}

.google-header {
    font-size: 40px;
    color: black;
    display: block;
}

.google-result {
    width: 40%;
    background-color: #adadab;
    /*text-align: center;*/
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 2.5%;
    -webkit-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
}

.google-text {
    padding: 10px;
    width: 95%;
}



.reference-result {
    width: 30%;
    background-color: #62b120;
    -webkit-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
}


.reference-header {
    font-size: 40px;
    color: black;
    display: block;
}

.reference-text {
    padding: 10px;
    width: 95%;
}

.youtube-result {
    margin-left:2.5%;
    width: 25%;
    background-color: #fdf8ff;
    border-radius: 3px;
}

.youtube-header {
    font-size: 40px;
    color: black;
    display: block;
}

.youtube-text {
    padding: 10px;
    width: 95%;
}


.nyt-result {
    width: 60%;
    margin-left: 5%;
    background-color: #36cde0;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
}

.nyt-header {
    font-size: 40px;
    color: black;
    display: block;
}

.nyt-text {
    padding: 10px;
    width: 95%;
}

.patents-result {
    margin-left: 5%;
    width: 25%;
    background-color: #bf7522;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
}

.patents-header {
    font-size: 40px;
    color: black;
    display: block;
}

.patents-text {
    padding: 10px;
    width: 95%;
}

.cases-result {
    width: 100%;
    background-color: #ff6d4c;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
    box-shadow: 10px 10px 170px 19px rgba(0,0,0,0.79);
}

.cases-header {
    font-size: 40px;
    color: black;
    display: block;
}

.case-text {
    padding: 10px;
    width: 95%;
}




@media screen and (max-width: 1500px) {


    .row {
        display: block;
    }

    .summary-result {
        width: 100%;
        margin: 0;
    }

    .wikipedia-result {
        width: 100%;
        margin: 0;
    }

    .google-result {
        width: 100%;
        margin: 0;
    }

    .reference-result {
        width: 100%;
        margin: 0;
    }

    .youtube-result {
        width: 100%;
        margin: 0;
    }

    .nyt-result {
        width: 100%;
        margin: 0;
    }

    .patents-result {
        width: 100%;
        margin: 0;
    }

    .cases-result {
        width: 100%;
        margin: 0;
    }

    .search-option {
        display: block;
    }
}