/*html {*/
    /*background-color: white;*/
    /*color: black;*/
/*}*/











.title {
    text-align: center;
    margin-top: 10%;
}

.search-bar-container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: 30px;
    width: 50%;
    border: 0;
    background-color: #777777;
    font-size: 30px;
    color: aqua;
}

.search-bar:focus {
    outline:0;
}

.search-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.search-option {
    padding: 50px;
}



.result-box {
    width: 50%;
    margin-left: 25%;
    background-color: green;
    margin-top: 25px;
    text-align: center;
}

#wikipedia-results {
    background-color: red;
}

#google-results {
    background-color: green;
}

#youtube-results {
    background-color: yellow;
}

#nyt_results {
    background-color: aqua;
}

#summary-results {
    background-color: purple;
}

#reference-results {
    background-color: pink;
}

#patents-results {
    background-color: gold;
}