/*html {*/
    /*background-color: white;*/
    /*color: black;*/
/*}*/



body {
    background-color: #444444;
}







.title {
    text-align: center;
    /*margin-top: 10%;*/
    /*margin-right: 20%;*/
    font-size: 30px;
    width: 15%;
    color: cornflowerblue;
}

.search-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.search-bar {
    height: 32px;
    width: 70%;
    border: 0;
    background-color: #777777;
    font-size: 30px;
    color: aqua;
    border-radius: 5px;
}

.search-bar:focus {
    outline:0;
}

.search-button-container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-button {
    border: 0;
    padding: 10px;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    background-color: transparent;
    font-size: 25px;
    border-radius: 3px;
}

.search-button:hover {
    background-color: cornflowerblue;
    color: #444444;
    cursor: pointer;
}

.search-option {
    padding: 10px;
    color: cornflowerblue;
}

.checkmark {
    border: 0;
    background: green;
}



.results-container {
    width: 100%;
    height: 50px;
    /*background-color: green;*/
    margin-top: 50px;
}

.row {
    display: flex;
    margin-top: 20px;
}

.result-logo-container {
    width: 100%;
    margin-bottom: 10px;
}

.summary-header {
    font-size: 40px;
    color: whitesmoke;
    margin-bottom: 10px;
    text-align: center;
}

.summary-text {
    text-align: center;
}

.wikipedia-header {
    font-size: 40px;
    color: whitesmoke;
    display: block;
}

.summary-result {
    width: 65%;
    background-color: orange;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.wikipedia-result {
    width: 65%;
    margin-left: 2.5%;
    background-color: pink;
    border-radius: 3px;
}

.google-header {
    font-size: 40px;
    color: whitesmoke;
    display: block;
}

.google-result {
    width: 40%;
    background-color: purple;
    /*text-align: center;*/
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 2.5%;
}

.google-text {
    padding: 10px;
    width: 95%;
}



.reference-result {
    width: 30%;
    background-color: green;
}


.reference-header {
    font-size: 40px;
    color: whitesmoke;
    display: block;
}

.reference-text {
    padding: 10px;
    width: 95%;
}

.youtube-result {
    margin-left:2.5%;
    width: 25%;
    background-color: gold;
    border-radius: 3px;
}

.youtube-header {
    font-size: 40px;
    color: whitesmoke;
    display: block;
}

.youtube-text {
    padding: 10px;
    width: 95%;
}


.nyt-result {
    width: 60%;
    margin-left: 5%;
    background-color: turquoise;
    border-radius: 3px;
}

.nyt-header {
    font-size: 40px;
    color: whitesmoke;
    display: block;
}

.nyt-text {
    padding: 10px;
    width: 95%;
}

.patents-result {
    margin-left: 5%;
    width: 25%;
    background-color: teal;
    border-radius: 3px;
}

.patents-header {
    font-size: 40px;
    color: whitesmoke;
    display: block;
}

.patents-text {
    padding: 10px;
    width: 95%;
}

.cases-result {
    width: 100%;
    background-color: gold;
    border-radius: 3px;
}

.cases-header {
    font-size: 40px;
    color: whitesmoke;
    display: block;
}

.case-text {
    padding: 10px;
    width: 95%;
}




.result-box {
    width: 50%;
    margin-left: 25%;
    background-color: green;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
}


#wikipedia-results {
    background-color: red;
}

#google-results {
    background-color: green;
}

#youtube-results {
    background-color: yellow;
}

#nyt_results {
    background-color: aqua;
}

#summary-results {
    background-color: purple;
}

#reference-results {
    background-color: pink;
}

#patents-results {
    background-color: gold;
}

#cases-results {
    background-color: beige;
}